<h1>My Account</h1>


<a href="pick_ups/new.html.erb">
<h2> Schedule A Pick-Up</h2>
</a><br>


<h2> Track My Weigh-Ins</h2>

<%= raw @svg %>

<h2> My Teams</h2>




<a href="forum.html.erb">
Community
</a><br>

<a href="tips.html.erb">
Tips & Troubleshooting
</a><br>

<a href="my_park.html.erb">
My Park
</a><br>
