<h2>Tips & Troubleshooting</h2>



<p>Q: My worms look lethargic? What should I do? (image)</p>
<p>A: Unlike humans, worms know when to stop eating. They may just be resting.</p>



<p>Q: Can I feed my worms meat? (image)</p>
<p>A: No. And they dont like hot, spicy food, either. So keep the curry out.</p>




<a href="show.html.erb">
My Account
</a><br>
