html {

  background: url(http://sr.photos2.fotosearch.com/bthumb/CSP/CSP599/k5994184.jpg) no-repeat center right fixed;
  -webkit-background-size: 600px (w) x 600px (h);
  -moz-background-size: 600px (w) x 600px (h);
  -o-background-size: 600px (w) x 600px (h);
  background-size: 600px (w) x 600px (h);
  color: orange;
  font-family: Verdana;
  font-size: 36px;

}

CSS selector {
  font-family: 'Swanky-and-Moo-Moo', serif;
}

a:link {
  color: blue;    /* unvisited link */

}

a:visited {
  color: green;

} /* visited link */


@media (max-width: 600px) {
  body {
    background-color: red;
    color: white;
  }
}


h1 {
    font-size: 30px;
    color: orange;
    text-align: center;
  }

h2 {
  font-size: 50px;
  color: orange;
  text-align: center;
  background-color: gray;
  border-radius: 5px;
}

h3 {
  font-style: bold;
  font-size: 30px;
  color: orange;
  text-align: left;
  margin-left: 30px;


}

h4 {
  font-style: bold;
  font-size: 28px;
  color: rgb(172, 112, 2);
  background-color: rgb(180, 173, 173);
  background-size: 400px (w);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 30px;

}


h5 {
  font-style: italic;
  font-size: 26px;
  color: orange;
  text-align: left;
}

h6 {
  font-size: 30px;
  color: orange;
  text-align: center;
  margin-top: 100px;
}
}

/*.who {
-webkit-column-count:3;  Chrome, Safari, Opera
-moz-column-count:3; /* Firefox
column-count:3;
}*/

.graph {

background: rgb(180, 173, 173);
font-family: Verdana;
text-align: center;
color: black;
border: 2px, black;
}

.show {

  display: inline block;
}

.comment {

  margin-top: 100px;
  margin-bottom: 100px;

}

li {

font-family: Verdana;
font-size: 16px;
text-align: left;
color: black;

}

p {

  font-family: Verdana;
  font-size: 16px;
  text-align: center;
  color: black;
  border-top: 25px;

}

form {

  font-family: Verdana;
  font-size: 16px;
  text-align: center;
  color: black;
  margin-top: 100px;
  border-top: 25px;

}

footer {

  font-family: Verdana;
  font-size: 12px;
  text-align: center;
  color: gray;
  background-color: orange;
  border-radius: 5px;
  margin-top: 400px;

}
